@import "index.scss";

.card-profile {
  display: flex;
  width: 42px;
  height: 42px;
  align-items: flex-end;
  justify-content: center;
  background-color: #ffc74c;
  border-radius: 8px;

  &__image {
    width: 40px;
    height: 40px;
    background: $icon-woman center center / contain no-repeat;
    margin-bottom: 0.5px;
  }

  &--MALE & {
    &__image {
      background: $icon-man center center / contain no-repeat;
    }
  }
}
